@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --blue: #1977cc;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --light-border: 1px solid var(--blue);
  /* --border: 0.2rem solid var(--blue); */
  --border: 3px solid var(--blue);
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
